{
    "log_level": "INFO",
    "discord_token": "secret-discord-token",
    "mis_token": "super secret token",
    "prefix": "!dl",
    "name": "Deadlocked",
    "operators": [12341234, 45674567],
    "address": "127.0.0.1",
    "port": 10093,
    "description": "Deadlocked",
    "default_color": 8912896,
    "faq_words": [],
    "command_settings": {
        "help": {
            "icon": "https://imgur.com/MpPza1h.png"
        },
        "status": {
            "icon": "https://imgur.com/3gboyNT.png"
        },
        "players": {
            "icon": "https://i.imgur.com/baztqW2.png",
            "statuses": {
                "In Game" :{
                    "priority": 0,
                    "color": "#f71b1b"
                },
                "Staging": {
                    "priority": 1,
                    "color": "#fcb838"
                },
                "Lobby":{
                    "priority": 2,
                    "color": "#1bf747"
                },
                "Online": {
                    "priority": 3,
                    "color": "#1bf747"
                }
            }
        }
    }
}
